body {
    color: black;
    text-align: center;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    font-family: Poppins, sans-serif;
}

.article {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    margin: 10px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
    display: block;
}

.article h2 {
    font-size: 1.5em;
    color: #525252;
    margin-bottom: 10px;
}

.article p {
    margin: 0;
}

form[method="get"] {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    text-align: center;
}

label {
    font-weight: bold;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #14B7B8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-left: 10px;
}

button:hover {
    background-color: #0C7D7E;
}

a{
    outline: none;
    text-decoration: none;
    color: black;
}